.home{
  text-align: end;
  padding-right: 100px;
  font-size: x-large;
}

.correct-answer {
  background: darkolivegreen;
}

.logo {
  height: 40px;
  width: 150px;
  background: dark;
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}